Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ANimations/emote1_slow_.uasset
Content/StarterContent/Architecture/Floor_400x400.uasset
